body {
	background-color:lightslategray;
	
}

.jumbotron.col-lg-12.col-md-12.col-sm-12 {
	background-color: rgb(29, 60, 163);
	border: 2px solid white;
	margin-bottom: 0px;
}

div#Masthead {
	background-color: lightslategray;
}

h1.text-center {
	color: #ffffff;
	font-weight: bolder;
	text-shadow:
	3px 3px 0#a671ce,
	3px 3px 0#a671ce,
	3px 3px 0#a671ce,
	3px 3px 0#a671ce;

}

div#buttons-view {
	background-color: rgb(94, 85, 142);
	border: 2px solid white;
}


div#gif-display {
	background-color:lightslategray;
	border: 2px solid white;
	margin-top: 20px;
	margin-bottom: 40px;
}
.item {
	background: rgba(255, 255, 255, 0.5);
	margin: auto;
    width: 100%;
    padding-bottom: 20px;

}

img.gif-image {
    display: block;
    margin: auto;
    width: 50%;
}

p.rating-info {
	font-weight: bolder;
	font-size: 24px;
	margin-left: 20px;
}

.btn-info {
    color: #fff;
    background-color: rgb(202, 149, 212);
    border-color: #46b8da;
    margin: 2px;
}

.btn {
    font-size: 20px;
}
input#gify-input {
    margin-top: 20px;
}
